/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    box-sizing: border-box; /* Ensures padding/margins don't break layout */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Portrait layout (default) */
.app {

}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:20px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;  /* Full width */
}

.movelist {
    font-size: large;
    padding: 0 20px 0 20px;
    color: yellowgreen;
}

.default-button {
    image-rendering: pixelated;
    padding: 24px;                               /* Adds space inside the button */
    background-color: transparent;              /* Makes the default button background transparent */
    background-image: url('../img/UI/Button.png'); /* Specifies the semi-transparent image for the button */
    background-size: contain;                   /* Ensures the entire image fits within the button without being cropped */
    background-repeat: no-repeat;               /* Prevents the image from repeating */
    background-position: center;                /* Centers the image inside the button */
    background-blend-mode: normal;              /* Specifies how the background image and background color combine (optional) */
    border: none;                               /* Removes the default border around the button */
    font-size: 18px;                            /* Sets the font size of the button text */
    color: rgb(0, 0, 0);                      /* Color of the text  */
    font-weight: bold;                          /* Makes the text bold for better readability */
    width: 300px;                                /* Makes the button take up the full width of its parent container */
    max-width: 80%;                           /* Limits the button width to a maximum of 300px */
    margin: 0 auto;                             /* Centers the button horizontally */
    transition: background-color 0.3s;          /* Smoothly transitions the background color when the button is hovered */
    text-align: center;                         /* Centers the text horizontally */
    display: flex;                              /* Uses Flexbox to center content (text) inside the button */
    align-items: center;                        /* Vertically centers the text */
    justify-content: center;                    /* Horizontally centers the text */
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

img {
    max-width: 80%;
    height: auto;
}


/* javascript Feedback*/
.session-block {
    position: fixed;   /* Sticks the div to a fixed position on the screen */
    bottom: 0; 
    left: 0;        /* Aligns the div to the bottom */
    background-image: url('../img/UI/BottomBorder.png'); 
    width: 100vw;
    height: auto; 
    color: rgb(255, 255, 255);      /* Text color */
    text-align: center; 
    display: flex; /* Use flexbox for vertical alignment */
    justify-content: center;
    flex-direction: column;
}

.divider-left{
    position: fixed;   /* Sticks the div to a fixed position on the screen */
    vertical-align: middle;
    float: left;
    background-repeat: no-repeat;
    text-align-last: left;
}

.divider-right{
    position: fixed;   /* Sticks the div to a fixed position on the screen */
    vertical-align: middle;
    float: right;
    background-repeat: no-repeat;
    text-align-last: right;
}


/* Cordova CSS */
.cordova-block {
    position: fixed;   /* Sticks the div to a fixed position on the screen */
    bottom: 0;         /* Aligns the div to the bottom */
    left: 0;           /* Aligns the div to the left */
    background-color: #5f5f5f;  /* Background color (optional) */
    color: rgb(0, 0, 0);      /* Text color */
    padding: 20px;
    width: auto; 
    text-align: center; 
}

/* specifically for the cordova connect device ready button*/
#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite; 
}


/* FUCK THE DEALER CSS: */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

input {
    padding: 10px 15px;
    margin: 10px 25px;
    border-color: #FFFFFF;
    font-size: large;
}

/* .card-container {
    margin: 20px;
    image-rendering: pixelated;
    width: 100%;
} */

img {
    width: 150px;
    height: auto;
    image-rendering: pixelated;
}

#card-selection img {
    width: 75px;
    height: auto;
    margin: 3px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
  }


